# Chapter 5: Data Manipulation with Pandas

#This notebook contains examples and explanations from Chapter 5 of "Python for Data Analysis".

## Sorting

### Example: Sorting a DataFrame

In [ ]:
import numpy as np
import pandas as pd

# Create a DataFrame with random numbers
data = np.random.randn(1000, 4)
df = pd.DataFrame(data, columns=['A', 'B', 'C', 'D'])
df.head()

          A         B         C         D
0 -1.825361 -0.195313  0.174585 -0.002515
1  1.271840 -1.008761  1.486601  2.212180
2  1.160802 -0.479483  0.861623  0.091879
3 -2.006322  0.429535 -0.101692 -0.583466
4 -0.637139 -1.170444  0.655458  1.543887

### Sorting by Values

Refer to Chapter 5 for more details on sorting by values.

In [ ]:
# Sorting by index
sorted_df_index = df.sort_index(axis=1, ascending=False)
sorted_df_index.head()

          D         C         B         A
0 -0.002515  0.174585 -0.195313 -1.825361
1  2.212180  1.486601 -1.008761  1.271840
2  0.091879  0.861623 -0.479483  1.160802
3 -0.583466 -0.101692  0.429535 -2.006322
4  1.543887  0.655458 -1.170444 -0.637139

### Sorting by Values

Refer to Chapter 5 for more details on sorting by values.

# Sorting by values
sorted_df_values = df.sort_values(by='B')
sorted_df_values.head()

## Ranking

### Example: Adding a Rank Column

Refer to Chapter 5 for more details on ranking data.

In [ ]:
# Ranking data
df['Rank'] = df['C'].rank()
df.head()

          A         B         C         D   Rank
0 -1.825361 -0.195313  0.174585 -0.002515  561.0
1  1.271840 -1.008761  1.486601  2.212180  933.0
2  1.160802 -0.479483  0.861623  0.091879  798.0
3 -2.006322  0.429535 -0.101692 -0.583466  465.0
4 -0.637139 -1.170444  0.655458  1.543887  729.0

## Handling Missing Data

### Example: Introducing NaN Values

Refer to Chapter 5 for more details on handling missing data.

In [ ]:
# Fill missing values with a specific value
df_filled = df.fillna(0)
df_filled.head()

# Fill missing values with the mean of the column
df_filled_mean = df.fillna(df.mean())
df_filled_mean.head()

          A         B         C         D   Rank
0 -1.825361 -0.195313  0.174585 -0.002515  561.0
1  1.271840 -1.008761  1.486601  2.212180  933.0
2  1.160802 -0.479483  0.861623  0.091879  798.0
3 -2.006322  0.429535 -0.101692 -0.583466  465.0
4 -0.637139 -1.170444  0.655458  1.543887  729.0

### Dropping Rows with Missing Values

Refer to Chapter 5 for more details on dropping rows with missing values.

In [ ]:
# Dropping rows with missing values
df_dropped = df.dropna()
df_dropped.head()

          A         B         C         D   Rank
0 -1.825361 -0.195313  0.174585 -0.002515  561.0
1  1.271840 -1.008761  1.486601  2.212180  933.0
2  1.160802 -0.479483  0.861623  0.091879  798.0
3 -2.006322  0.429535 -0.101692 -0.583466  465.0
4 -0.637139 -1.170444  0.655458  1.543887  729.0

## Hierarchical Indexing

### Example: Creating a Series with Hierarchical Indexing

Refer to Chapter 5 for more details on hierarchical indexing.

In [ ]:
arrays = [np.array(['bar', 'bar', 'baz', 'baz', 'foo', 'foo', 'qux', 'qux']),
          np.array(['one', 'two', 'one', 'two', 'one', 'two', 'one', 'two'])]
s = pd.Series(np.random.randn(8), index=arrays)
s

bar  one    0.349400
     two   -0.230123
baz  one   -0.029792
     two    0.564820
foo  one    0.036810
     two    0.405176
qux  one    1.655826
     two   -0.196327
dtype: float64

### Selecting Data with Hierarchical Indexing

Refer to Chapter 5 for more details on selecting data with hierarchical indexing.

In [ ]:
s['bar']  # Selecting all data labeled 'bar'
s['bar', 'one']  # Selecting data labeled 'bar' and 'one'

0.349399526302361

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(3.))
print(ser)
# Output:
# 0    0.0
# 1    1.0
# 2    2.0
# dtype: float64

# Accessing by integer index
# print(ser[-1])  # KeyError: -1
print(ser.iloc[-1])  # Output: 2.0

0    0.0
1    1.0
2    2.0
dtype: float64
2.0

### Integer Indexing
Integer Indexing
Working with pandas objects indexed by integers can sometimes be confusing due to differences with indexing semantics in Python data structures like lists and tuples. Consider the following example where pandas uses label-based indexing by default:

# To avoid ambiguity, always use .iloc for integer-based indexing:

In [ ]:
print(ser.iloc[-1])  # Output: 2.0

2.0

### Panel Data
Panel Data
pandas provides a Panel data structure, which is a three-dimensional analogue of DataFrame. Although not a major focus, here's an example of creating a Panel using a dictionary of DataFrames:

In [ ]:
!pip install pandas-datareader yfinance
import pandas as pd
import yfinance as yf

# Fetch data for each stock using yfinance
all_data = {stk: yf.download(stk, start='2009-01-01', end='2012-06-01')
            for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']}

# Create a MultiIndex DataFrame
pdata = pd.concat(all_data, keys=all_data.keys(), names=['Ticker', 'Date'])

print(pdata)

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.10/dist-packages (0.10.0)
Requirement already satisfied: yfinance in /usr/local/lib/python3.10/dist-packages (0.2.40)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (4.9.4)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (2.0.3)
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.10/dist-packages (from pandas-datareader) (2.31.0)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.25.2)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.10/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: platformdirs>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.2.2)
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2023.4)
Requirement already satisfied: frozendict>=2.3.4 in /usr/local/lib/python3.10/dist-packages (from yfinance) (2.4.4)
Requirement already satisfied: peewee>=3.16.2 in /usr/local/lib/python3.10/dist-packages (from yfinance) (3.17.6)
Requirement already satisfied: beautifulsoup4>=4.11.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in /usr/local/lib/python3.10/dist-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas>=0.23->pandas-datareader) (2024.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.19.0->pandas-datareader) (2024.7.4)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['GOOG']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2009-01-01 -> 2012-06-01)')

$GOOG: possibly delisted; No price data found  (1d 2009-01-01 -> 2012-06-01)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['DELL']: YFChartError("%ticker%: Data doesn't exist for startDate = 1230786000, endDate = 1338523200")

                        Open       High        Low      Close  Adj Close  \
Ticker Date
AAPL   2009-01-02   3.067142   3.251428   3.041428   3.241071   2.736577
       2009-01-05   3.327500   3.435000   3.311071   3.377857   2.852071
       2009-01-06   3.426785   3.470357   3.299642   3.322142   2.805027
       2009-01-07   3.278928   3.303571   3.223571   3.250357   2.744418
       2009-01-08   3.229642   3.326785   3.215714   3.310714   2.795379
...                      ...        ...        ...        ...        ...
MSFT   2012-05-24  29.160000  29.299999  28.760000  29.070000  23.325602
       2012-05-25  29.200001  29.360001  29.010000  29.059999  23.317575
       2012-05-29  29.420000  29.719999  29.219999  29.559999  23.718767
       2012-05-30  29.350000  29.479000  29.120001  29.340000  23.542253
       2012-05-31  29.290001  29.420000  28.940001  29.190001  23.421890

                         Volume
Ticker Date
AAPL   2009-01-02  7.447305e+08
       2009-01-05  1.178883e+09
       2009-01-06  1.287349e+09
       2009-01-07  7.341281e+08
       2009-01-08  6.620115e+08
...                         ...
MSFT   2012-05-24  5.257602e+07
       2012-05-25  2.950824e+07
       2012-05-29  3.775896e+07
       2012-05-30  4.159005e+07
       2012-05-31  3.914232e+07

[1720 rows x 6 columns]

### Reshaping with Hierarchical Indexing
Reshaping and Pivoting
Reshaping with Hierarchical Indexing
Hierarchical indexing provides a way to rearrange data in a DataFrame. Two primary methods are stack and unstack:

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'], name='number'))
print(data)
# Output:
# number    one  two  three
# state
# Ohio        0    1      2
# Colorado    3    4      5

# Stacking the columns into rows
result = data.stack()
print(result)
# Output:
# state     number
# Ohio      one       0
#           two       1
#           three     2
# Colorado  one       3
#           two       4
#           three     5
# dtype: int64

# Unstacking back into columns
print(result.unstack())
# Output:
# number    one  two  three
# state
# Ohio        0    1      2
# Colorado    3    4      5

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5
state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64
number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

In [ ]:
print(result.unstack(0))
# Output:
# state    Ohio  Colorado
# number
# one         0         3
# two         1         4
# three       2         5

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

In [ ]:
#Unstacking might introduce missing data:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2 = pd.concat([s1, s2], keys=['one', 'two'])
print(data2.unstack())
# Output:
#        a    b    c    d    e
# one  0.0  1.0  2.0  3.0  NaN
# two  NaN  NaN  4.0  5.0  6.0

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

Integer Indexing
Working with pandas objects indexed by integers can sometimes be confusing due to differences with indexing semantics in Python data structures like lists and tuples. Consider the following example where pandas uses label-based indexing by default:

In [ ]:
import pandas as pd
import numpy as np

ser = pd.Series(np.arange(3.))
print(ser)
# Output:
# 0    0.0
# 1    1.0
# 2    2.0
# dtype: float64

# Accessing by integer index
try:
    print(ser[-1])
except KeyError as e:
    print(f"KeyError: {e}")  # KeyError: -1

0    0.0
1    1.0
2    2.0
dtype: float64
KeyError: -1

To avoid ambiguity, always use .iloc for integer-based indexing:

In [ ]:
print(ser.iloc[-1])  # Output: 2.0

2.0

Panel Data
pandas provides a Panel data structure, which is a three-dimensional analogue of DataFrame. Although not a major focus, here's an example of creating a Panel using a dictionary of DataFrames:

In [ ]:
import pandas as pd
import yfinance as yf # Import yfinance to fetch data

all_data = {stk: yf.download(stk, start='2009-01-01', end='2012-06-01')
            for stk in ['AAPL', 'GOOG', 'MSFT', 'DELL']}

# Convert the dictionary of DataFrames to a single DataFrame
# This assumes you want to combine the data somehow
pdata = pd.concat(all_data, axis=1)

# If you want to swap columns with the index, you can use transpose
pdata = pdata.transpose()
print(pdata)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['GOOG']: YFPricesMissingError('$%ticker%: possibly delisted; No price data found  (1d 2009-01-01 -> 2012-06-01)')
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
ERROR:yfinance:
1 Failed download:
ERROR:yfinance:['DELL']: YFChartError("%ticker%: Data doesn't exist for startDate = 1230786000, endDate = 1338523200")

$GOOG: possibly delisted; No price data found  (1d 2009-01-01 -> 2012-06-01)
Date              2009-01-02    2009-01-05    2009-01-06    2009-01-07  \
AAPL Open       3.067142e+00  3.327500e+00  3.426785e+00  3.278928e+00
     High       3.251428e+00  3.435000e+00  3.470357e+00  3.303571e+00
     Low        3.041428e+00  3.311071e+00  3.299642e+00  3.223571e+00
     Close      3.241071e+00  3.377857e+00  3.322142e+00  3.250357e+00
     Adj Close  2.736577e+00  2.852071e+00  2.805027e+00  2.744418e+00
     Volume     7.447305e+08  1.178883e+09  1.287349e+09  7.341281e+08
GOOG Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN
MSFT Open       1.953280e+01  2.020000e+01  2.075000e+01  2.019000e+01
     High       2.040000e+01  2.067000e+01  2.100000e+01  2.029000e+01
     Low        1.937000e+01  2.006000e+01  2.061000e+01  1.948000e+01
     Close      2.033000e+01  2.052000e+01  2.076000e+01  1.951000e+01
     Adj Close  1.501164e+01  1.515194e+01  1.532914e+01  1.440615e+01
     Volume     4.985550e+07  6.108812e+07  5.788740e+07  7.104571e+07
DELL Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN

Date              2009-01-08    2009-01-09    2009-01-12    2009-01-13  \
AAPL Open       3.229642e+00  3.328928e+00  3.230714e+00  3.151428e+00
     High       3.326785e+00  3.335000e+00  3.249642e+00  3.204996e+00
     Low        3.215714e+00  3.219285e+00  3.126785e+00  3.083928e+00
     Close      3.310714e+00  3.235000e+00  3.166428e+00  3.132500e+00
     Adj Close  2.795379e+00  2.731451e+00  2.673552e+00  2.644905e+00
     Volume     6.620115e+08  5.432803e+08  6.098887e+08  7.929309e+08
GOOG Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN
MSFT Open       1.963000e+01  2.017000e+01  1.971000e+01  1.952000e+01
     High       2.019000e+01  2.030000e+01  1.979000e+01  1.999000e+01
     Low        1.955000e+01  1.941000e+01  1.930000e+01  1.952000e+01
     Close      2.012000e+01  1.952000e+01  1.947000e+01  1.982000e+01
     Adj Close  1.485657e+01  1.441353e+01  1.437661e+01  1.463505e+01
     Volume     6.940023e+07  4.942987e+07  4.734451e+07  6.499809e+07
DELL Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN

Date              2009-01-14    2009-01-15  ...    2012-05-17    2012-05-18  \
AAPL Open       3.080000e+00  2.877500e+00  ...  1.947536e+01  1.906750e+01
     High       3.116071e+00  3.004285e+00  ...  1.955357e+01  1.940750e+01
     Low        3.025714e+00  2.858928e+00  ...  1.893286e+01  1.864928e+01
     Close      3.047500e+00  2.977857e+00  ...  1.893286e+01  1.894214e+01
     Adj Close  2.573136e+00  2.514334e+00  ...  1.598583e+01  1.599368e+01
     Volume     8.235729e+08  1.825355e+09  ...  7.172189e+08  7.322899e+08
GOOG Open                NaN           NaN  ...           NaN           NaN
     High                NaN           NaN  ...           NaN           NaN
     Low                 NaN           NaN  ...           NaN           NaN
     Close               NaN           NaN  ...           NaN           NaN
     Adj Close           NaN           NaN  ...           NaN           NaN
     Volume              NaN           NaN  ...           NaN           NaN
MSFT Open       1.953000e+01  1.907000e+01  ...  2.994000e+01  2.979000e+01
     High       1.968000e+01  1.930000e+01  ...  3.020840e+01  2.981000e+01
     Low        1.901000e+01  1.852000e+01  ...  2.971000e+01  2.917000e+01
     Close      1.909000e+01  1.924000e+01  ...  2.972000e+01  2.927000e+01
     Adj Close  1.409602e+01  1.420678e+01  ...  2.384716e+01  2.348608e+01
     Volume     7.928890e+07  9.352206e+07  ...  4.848718e+07  5.620526e+07
DELL Open                NaN           NaN  ...           NaN           NaN
     High                NaN           NaN  ...           NaN           NaN
     Low                 NaN           NaN  ...           NaN           NaN
     Close               NaN           NaN  ...           NaN           NaN
     Adj Close           NaN           NaN  ...           NaN           NaN
     Volume              NaN           NaN  ...           NaN           NaN

Date              2012-05-21    2012-05-22    2012-05-23    2012-05-24  \
AAPL Open       1.909857e+01  2.035357e+01  1.990464e+01  2.057143e+01
     High       2.005500e+01  2.049571e+01  2.045714e+01  2.058928e+01
     Low        1.907321e+01  1.973500e+01  1.975821e+01  2.004393e+01
     Close      2.004571e+01  1.989178e+01  2.037714e+01  2.019000e+01
     Adj Close  1.692547e+01  1.679550e+01  1.720531e+01  1.704729e+01
     Volume     6.310912e+08  6.947870e+08  5.781310e+08  4.961980e+08
GOOG Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN
MSFT Open       2.909000e+01  2.973000e+01  2.935000e+01  2.916000e+01
     High       2.979000e+01  2.988000e+01  2.940000e+01  2.930000e+01
     Low        2.906000e+01  2.950000e+01  2.864000e+01  2.876000e+01
     Close      2.975000e+01  2.976000e+01  2.911000e+01  2.907000e+01
     Adj Close  2.387123e+01  2.387926e+01  2.335770e+01  2.332560e+01
     Volume     3.879420e+07  3.950826e+07  6.510978e+07  5.257602e+07
DELL Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN

Date              2012-05-25    2012-05-29    2012-05-30    2012-05-31
AAPL Open       2.016464e+01  2.038928e+01  2.032857e+01  2.075000e+01
     High       2.020893e+01  2.050000e+01  2.071393e+01  2.076786e+01
     Low        1.994543e+01  2.018964e+01  2.023429e+01  2.040928e+01
     Close      2.008179e+01  2.043821e+01  2.068464e+01  2.063321e+01
     Adj Close  1.695592e+01  1.725687e+01  1.746494e+01  1.742151e+01
     Volume     3.284662e+08  3.805054e+08  5.294208e+08  4.919104e+08
GOOG Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN
MSFT Open       2.920000e+01  2.942000e+01  2.935000e+01  2.929000e+01
     High       2.936000e+01  2.972000e+01  2.947900e+01  2.942000e+01
     Low        2.901000e+01  2.922000e+01  2.912000e+01  2.894000e+01
     Close      2.906000e+01  2.956000e+01  2.934000e+01  2.919000e+01
     Adj Close  2.331758e+01  2.371877e+01  2.354225e+01  2.342189e+01
     Volume     2.950824e+07  3.775896e+07  4.159005e+07  3.914232e+07
DELL Open                NaN           NaN           NaN           NaN
     High                NaN           NaN           NaN           NaN
     Low                 NaN           NaN           NaN           NaN
     Close               NaN           NaN           NaN           NaN
     Adj Close           NaN           NaN           NaN           NaN
     Volume              NaN           NaN           NaN           NaN

[24 rows x 860 columns]

Reshaping and Pivoting
Reshaping with Hierarchical Indexing
Hierarchical indexing provides a way to rearrange data in a DataFrame. Two primary methods are stack and unstack:

In [ ]:
data = pd.DataFrame(np.arange(6).reshape((2, 3)),
                    index=pd.Index(['Ohio', 'Colorado'], name='state'),
                    columns=pd.Index(['one', 'two', 'three'], name='number'))
print(data)
# Output:
# number    one  two  three
# state
# Ohio        0    1      2
# Colorado    3    4      5

# Stacking the columns into rows
result = data.stack()
print(result)
# Output:
# state     number
# Ohio      one       0
#           two       1
#           three     2
# Colorado  one       3
#           two       4
#           three     5
# dtype: int64

# Unstacking back into columns
print(result.unstack())
# Output:
# number    one  two  three
# state
# Ohio        0    1      2
# Colorado    3    4      5

number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5
state     number
Ohio      one       0
          two       1
          three     2
Colorado  one       3
          two       4
          three     5
dtype: int64
number    one  two  three
state
Ohio        0    1      2
Colorado    3    4      5

Unstacking a different level:

In [ ]:
print(result.unstack(0))
# Output:
# state    Ohio  Colorado
# number
# one         0         3
# two         1         4
# three       2         5

state   Ohio  Colorado
number
one        0         3
two        1         4
three      2         5

Unstacking might introduce missing data:

In [ ]:
s1 = pd.Series([0, 1, 2, 3], index=['a', 'b', 'c', 'd'])
s2 = pd.Series([4, 5, 6], index=['c', 'd', 'e'])
data2 = pd.concat([s1, s2], keys=['one', 'two'])
print(data2.unstack())
# Output:
#        a    b    c    d    e
# one  0.0  1.0  2.0  3.0  NaN
# two  NaN  NaN  4.0  5.0  6.0

       a    b    c    d    e
one  0.0  1.0  2.0  3.0  NaN
two  NaN  NaN  4.0  5.0  6.0

In [ ]:
# Step 1: Install required libraries
!pip install pandas lxml beautifulsoup4 html5lib

# Step 2: Import pandas
import pandas as pd

# Step 3: Read the HTML file from the correct URL
url = "https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/examples/fdic_failed_bank_list.html"
tables = pd.read_html(url)

# Step 4: Check the number of tables read
print(len(tables))  # Output the number of tables found

# Step 5: Extract the first table
failures = tables[0]

# Step 6: Display the first few rows of the DataFrame
print(failures.head())

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (4.9.4)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (4.12.3)
Requirement already satisfied: html5lib in /usr/local/lib/python3.10/dist-packages (1.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4) (2.5)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.10/dist-packages (from html5lib) (1.16.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.10/dist-packages (from html5lib) (0.5.1)
1
                      Bank Name             City  ST   CERT  \
0                   Allied Bank         Mulberry  AR     91
1  The Woodbury Banking Company         Woodbury  GA  11297
2        First CornerStone Bank  King of Prussia  PA  35312
3            Trust Company Bank          Memphis  TN   9956
4    North Milwaukee State Bank        Milwaukee  WI  20364

                 Acquiring Institution        Closing Date       Updated Date
0                         Today's Bank  September 23, 2016  November 17, 2016
1                          United Bank     August 19, 2016  November 17, 2016
2  First-Citizens Bank & Trust Company         May 6, 2016  September 6, 2016
3           The Bank of Fayette County      April 29, 2016  September 6, 2016
4  First-Citizens Bank & Trust Company      March 11, 2016      June 16, 2016

In [ ]:
# Step 7: Convert the Closing Date to datetime
close_timestamps = pd.to_datetime(failures["Closing Date"])

# Step 8: Count the number of bank failures by year
failures_by_year = close_timestamps.dt.year.value_counts()
print(failures_by_year)

Closing Date
2010    157
2009    140
2011     92
2012     51
2008     25
2013     24
2014     18
2002     11
2015      8
2016      5
2004      4
2001      4
2007      3
2003      3
2000      2
Name: count, dtype: int64

In [ ]:
# Step 1: Import necessary libraries
import pandas as pd
import requests
from lxml import objectify

# Step 2: Specify the correct URL for the raw XML file
xml_url = "https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/mta_perf/Performance_NYCT.xml"

# Step 3: Fetch the XML content
response = requests.get(xml_url)

# Step 4: Check if the request was successful
if response.status_code == 200:
    xml_content = response.content

    # Step 5: Parse the XML content
    parsed = objectify.fromstring(xml_content)

    # Step 6: Extract data (adjust this based on the XML structure)
    data = []
    for indicator in parsed.INDICATOR:
        row = {}
        for child in indicator.getchildren():
            row[child.tag] = child.text
        data.append(row)

    # Step 7: Create a pandas DataFrame
    df = pd.DataFrame(data)

    # Step 8: Display the first few rows of the DataFrame
    print(df.head())

else:
    print("Failed to retrieve XML file. Status code:", response.status_code)

  INDICATOR_SEQ PARENT_SEQ  AGENCY_NAME  \
0        100360       None  NYC Transit
1        100360       None  NYC Transit
2        100360       None  NYC Transit
3        100360       None  NYC Transit
4        100360       None  NYC Transit

                                INDICATOR_NAME  \
0  Employee Lost Time and Restricted Duty Rate
1  Employee Lost Time and Restricted Duty Rate
2  Employee Lost Time and Restricted Duty Rate
3  Employee Lost Time and Restricted Duty Rate
4  Employee Lost Time and Restricted Duty Rate

                                         DESCRIPTION PERIOD_YEAR PERIOD_MONTH  \
0  An employee lost time injury or illness is one...        2008            1
1  An employee lost time injury or illness is one...        2008            2
2  An employee lost time injury or illness is one...        2008            3
3  An employee lost time injury or illness is one...        2008            4
4  An employee lost time injury or illness is one...        2008            5

            CATEGORY FREQUENCY DESIRED_CHANGE INDICATOR_UNIT DECIMAL_PLACES  \
0  Safety Indicators         M              D              -              2
1  Safety Indicators         M              D              -              2
2  Safety Indicators         M              D              -              2
3  Safety Indicators         M              D              -              2
4  Safety Indicators         M              D              -              2

  YTD_TARGET YTD_ACTUAL MONTHLY_TARGET MONTHLY_ACTUAL
0       2.37       1.93           2.37           1.93
1       2.37       1.99           2.37           2.33
2       2.37       1.98           2.37           1.93
3       2.37       1.93           2.37           1.81
4       2.37       2.14           2.37           2.93

In [ ]:
import requests
from lxml import objectify
import pandas as pd

xml_url = "https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/mta_perf/Performance_MNR.xml"


response = requests.get(xml_url)

if response.status_code == 200:
    xml_content = response.content

    parsed = objectify.fromstring(xml_content)
    root = parsed  # No need for getroot() here

    # Extract data (adjust this based on the XML structure)
    data = []
    skip_fields = ["PARENT_SEQ", "INDICATOR_SEQ", "DESIRED_CHANGE", "DECIMAL_PLACES"]
    for indicator in root.INDICATOR:
        row = {}
        for child in indicator.getchildren():
            if child.tag not in skip_fields:
                row[child.tag] = child.pyval
        data.append(row)

    # Create DataFrame
    perf = pd.DataFrame(data)
    print(perf.head())

else:
    print("Failed to retrieve XML file. Status code:", response.status_code)

            AGENCY_NAME                        INDICATOR_NAME  \
0  Metro-North Railroad  On-Time Performance (West of Hudson)
1  Metro-North Railroad  On-Time Performance (West of Hudson)
2  Metro-North Railroad  On-Time Performance (West of Hudson)
3  Metro-North Railroad  On-Time Performance (West of Hudson)
4  Metro-North Railroad  On-Time Performance (West of Hudson)

                                         DESCRIPTION  PERIOD_YEAR  \
0  Percent of commuter trains that arrive at thei...         2008
1  Percent of commuter trains that arrive at thei...         2008
2  Percent of commuter trains that arrive at thei...         2008
3  Percent of commuter trains that arrive at thei...         2008
4  Percent of commuter trains that arrive at thei...         2008

   PERIOD_MONTH            CATEGORY FREQUENCY INDICATOR_UNIT YTD_TARGET  \
0             1  Service Indicators         M              %       95.0
1             2  Service Indicators         M              %       95.0
2             3  Service Indicators         M              %       95.0
3             4  Service Indicators         M              %       95.0
4             5  Service Indicators         M              %       95.0

  YTD_ACTUAL MONTHLY_TARGET MONTHLY_ACTUAL
0       96.9           95.0           96.9
1       96.0           95.0           95.0
2       96.3           95.0           96.9
3       96.8           95.0           98.3
4       96.6           95.0           95.8

In [ ]:
perf = pd.DataFrame(data)
perf.head()

,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,INDICATOR_UNIT,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,%,95.0,96.9,95.0,96.9
1,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,%,95.0,96.0,95.0,95.0
2,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,%,95.0,96.3,95.0,96.9
3,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,%,95.0,96.8,95.0,98.3
4,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,%,95.0,96.6,95.0,95.8

In [ ]:
perf2 = pd.read_xml("https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/datasets/mta_perf/Performance_MNR.xml")

perf2.head()

,INDICATOR_SEQ,PARENT_SEQ,AGENCY_NAME,INDICATOR_NAME,DESCRIPTION,PERIOD_YEAR,PERIOD_MONTH,CATEGORY,FREQUENCY,DESIRED_CHANGE,INDICATOR_UNIT,DECIMAL_PLACES,YTD_TARGET,YTD_ACTUAL,MONTHLY_TARGET,MONTHLY_ACTUAL
0,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,1,Service Indicators,M,U,%,1,95.00,96.90,95.00,96.90
1,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,2,Service Indicators,M,U,%,1,95.00,96.00,95.00,95.00
2,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,3,Service Indicators,M,U,%,1,95.00,96.30,95.00,96.90
3,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,4,Service Indicators,M,U,%,1,95.00,96.80,95.00,98.30
4,28445,NaN,Metro-North Railroad,On-Time Performance (West of Hudson),Percent of commuter trains that arrive at thei...,2008,5,Service Indicators,M,U,%,1,95.00,96.60,95.00,95.80

In [ ]:
import pandas as pd
import requests
import io  # Import the io module
from google.colab import drive
drive.mount('/content/drive')

# Fetch the CSV content from GitHub
url = "https://raw.githubusercontent.com/wesm/pydata-book/3rd-edition/examples/ex1.csv"
response = requests.get(url)

# Check if the request was successful
if response.status_code == 200:
    # Create a file-like object from the CSV string
    csv_file = io.StringIO(response.text)

    # Read the CSV content from the file-like object
    frame = pd.read_csv(csv_file, sep=',')  # Adjust sep if needed
    print(frame)
else:
    print("Failed to retrieve CSV file. Status code:", response.status_code)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
frame.to_pickle("/drive")

In [ ]:
frame.to_pickle("examples/frame_pickle")

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Make sure the 'examples' folder exists in your Drive
frame.to_pickle("/content/drive/My Drive/examples/frame_pickle")  # Add file name
print("Pickle file saved to: /content/drive/My Drive/examples/frame_pickle")

Pickle file saved to: /content/drive/My Drive/examples/frame_pickle

In [ ]:
pd.read_pickle("/content/drive/My Drive/examples/frame_pickle")

   a   b   c   d message
0  1   2   3   4   hello
1  5   6   7   8   world
2  9  10  11  12     foo

In [ ]:
%pip install requests

Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in /usr/local/lib/python3.10/dist-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests) (2.0.7)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests) (2024.7.4)

To find the last 30 GitHub issues for pandas on GitHub, we can make a GET HTTP request using the add-on requests library:

In [ ]:
# Import the requests library
import requests

# Define the URL for GitHub issues of pandas
url = "https://api.github.com/repos/pandas-dev/pandas/issues"

# Make a GET request to fetch the issues
resp = requests.get(url)

# Check for HTTP errors
resp.raise_for_status()

# Display the response object
print(resp)

Its a good practice to always call raise_for_status after using requests.get to check for HTTP errors.

The response objects json method will return a Python object containing the parsed JSON data as a dictionary or list (depending on what JSON is returned)

In [ ]:
# Parse the JSON data
data = resp.json()

# Display the title of the first issue
print(data[0]["title"])

Since the results retrieved are based on real-time data, what you see when you run this code will almost definitely be different.

Each element in data is a dictionary containing all of the data found on a GitHub issue page (except for the comments). We can pass data directly to pandas.DataFrame and extract fields of interest:

In [ ]:
# Convert the JSON data to a pandas DataFrame
issues = pd.DataFrame(data, columns=["number", "title", "labels", "state"])

# Display the DataFrame
print(issues)

6.4 Interacting with Databases
In a business setting, a lot of data may not be stored in text or Excel files. SQL-based relational databases (such as SQL Server, PostgreSQL, and MySQL) are in wide use, and many alternative databases have become quite popular. The choice of database is usually dependent on the performance, data integrity, and scalability needs of an application.

pandas has some functions to simplify loading the results of a SQL query into a DataFrame. As an example, Ill create a SQLite3 database using Pythons built-in sqlite3 driver:

In [ ]:
#### Code
# Import the sqlite3 library
import sqlite3

# Define the SQL query to create a table
query = """
CREATE TABLE test
(a VARCHAR(20), b VARCHAR(20),
 c REAL,        d INTEGER
);"""

# Connect to a SQLite database (or create it if it doesn't exist)
con = sqlite3.connect("mydata.sqlite")

# Execute the query to create the table
con.execute(query)

# Commit the changes
con.commit()

Then, insert a few rows of data:

In [ ]:
# Define some data to insert
data = [("Atlanta", "Georgia", 1.25, 6),
        ("Tallahassee", "Florida", 2.6, 3),
        ("Sacramento", "California", 1.7, 5)]

# Define the SQL statement for inserting data
stmt = "INSERT INTO test VALUES(?, ?, ?, ?)"

# Execute the statement with the data
con.executemany(stmt, data)

# Commit the changes
con.commit()

Most Python SQL drivers return a list of tuples when selecting data from a table:

In [ ]:
# Execute a query to select all data from the table
cursor = con.execute("SELECT * FROM test")

# Fetch all rows from the cursor
rows = cursor.fetchall()

# Display the rows
print(rows)

Interacting with Databases
You can pass the list of tuples to the DataFrame constructor, but you also need the column names, contained in the cursors description attribute. Note that for SQLite3, the cursor description only provides column names (the other fields, which are part of Pythons Database API specification, are None), but for some other database drivers, more column information is provided:

In [ ]:
# Get the column names from the cursor description
columns = [x[0] for x in cursor.description]

# Create a DataFrame from the rows and columns
df = pd.DataFrame(rows, columns=columns)

# Display the DataFrame
print(df)

This is quite a bit of munging that youd rather not repeat each time you query the database. The SQLAlchemy project is a popular Python SQL toolkit that abstracts away many of the common differences between SQL databases. pandas has a read_sql function that enables you to read data easily from a general SQLAlchemy connection. You can install SQLAlchemy with conda like so:

In [ ]:
conda install sqlalchemy

In [ ]:
# Import the SQLAlchemy library
import sqlalchemy as sqla

# Create a SQLAlchemy engine for the SQLite database
db = sqla.create_engine("sqlite:///mydata.sqlite")

# Use pandas to read data from the SQLAlchemy connection
df_sql = pd.read_sql("SELECT * FROM test", db)

# Display the DataFrame
print(df_sql)